<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.sugarsoft.commodities.resources.persistence.ItemMapper">

	<select id="getValuesBySection" resultType="Long">
		SELECT I.ID 
			FROM ITEM_MASTER I WHERE I.SECTION_ID = #id#
	</select>

	<select id="getValues" resultType="Item">
		select I.ID, VALUE, DATE,DESCRIPTION 
		from ITEM I , ITEM_MASTER IM 
			where I.ID = IM.ID AND I.ID =  #id# 
			order by DATE
	</select>

	<insert id="add" parameterType="map">
		insert into ITEM (ID,DATE,VALUE) values (#pairId#,#time#,#qty#)
	</insert>


</mapper>