<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.sugarsoft.commodities.resources.persistence.ItemHistoryMapper">

	<select id="getHistoricalTableBySection" resultType="ItemHistory" parameterType="Long">
		SELECT IM.ID as itemId,
			DESCRIPTION,
			MAX_VALUE as max,
			MIN_VALUE as min,
			DAY,
			OPEN_VALUE as openValue,
			CLOSE_VALUE as closeValue
		from ITEM_MASTER IM
			left join ITEM_HISTORY H on IM.ID = H.ITEM_ID AND DAY = DATE(DATE_SUB(NOW(), INTERVAL 1 DAY))
		where SECTION_ID = #{id}			
	</select>
	
	
	<select id="getNotStoredValues" resultType="ItemHistory" parameterType="map">
		SELECT IM.ID as itemId,
			DESCRIPTION,			
			DAY,
			OPEN_VALUE as openValue,
			CLOSE_VALUE as closeValue
		from ITEM_MASTER IM
			left join ITEM_HISTORY H on IM.ID = H.ITEM_ID AND DAY =#{date}
		where 
			H.ITEM_ID is null
			AND POINT_VALUE is not null
			AND SECTION_ID = #{id}
		limit 100
	</select>
	
	<insert id="create" parameterType="ItemHistory">
		INSERT INTO ITEM_HISTORY
			(ITEM_ID, `DAY`, OPEN_VALUE, CLOSE_VALUE, VAR, MAX_VALUE, MIN_VALUE)
			VALUES
			(#{itemId}, #{day}, #{openValue}, #{closeValue}, NULL, #{max}, #{min})		
	</insert>

</mapper>