<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.sugarsoft.commodities.resources.persistence.ItemMasterMapper">


	<select id="getById" resultType="Item" parameterType="Long">
		select * FROM ITEM_MASTER WHERE ID = #{id}
	</select>

	<insert id="add" parameterType="map">
		insert into ITEM_MASTER (ID,DESCRIPTION, JSON, SECTION_ID) values (#{id},#{description},#{json},#{sectionId})
	</insert>
	
</mapper>