<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.sugarsoft.commodities.resources.persistence.SectionMapper">


	<select id="getById" resultType="Section" parameterType="java.lang.Long">
	SELECT * FROM SECTION WHERE ID = #{id}

	</select>
	
	<select id="getByParentId" resultType="Section" parameterType="java.lang.Long">
	SELECT * FROM SECTION WHERE PARENT_ID = #{parentId}
	</select>

	
</mapper>